services:
  db:
    env_file: .env
    image: postgres:15
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
  php:
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./www:/var/www/html
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./www:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php